 *{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     width: 100%;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: right;
    align-items: center;
    background-color:rgb(0, 0, 0);
    /* position: sticky; */
    position: fixed;
    width: 100%;
    
}
.navbar ul{ 
    /* width: 50px; */
    display: flex;
    list-style: none;
    margin: 30px 0px;
}
.navbar ul li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;

}
.navbar ul li a{
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.navbar ul li a:hover{
    background-color: white;
    color: rgb(255, 0, 170);
}
#home{
    display: flex;
    /* justify-content: right; */
    align-items: center;
    padding: 50px 100px;
    background-color: rgba(0, 0, 0, 0.63);
    height: 900px;
    color: white;
}

.main h1{
    justify-content: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:32px;
    text-align:center;
    
} 
.img {
    width: 80%;
}
.img img{
    border-radius: 50px;
    margin-left:10%;
    width: 60%;

} 
#about{
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    padding: 30px;
    /* margin-bottom: 30px; */
    background-color: rgba(1, 4, 15, 0.432);
}
.heading{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: aqua;
    font-style: inherit;
    font-size: 2rem;
    padding-top:10px;
}
#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
    font-size: 2rem;
    margin-right: 80px;
    padding-top: 10px;
}
#skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-transform: uppercase;
    background-color:rgba(100, 40, 150, 0.432);
}
.heading{
    padding-bottom: 50px;
}
.gallary{
    display: flex;
    /* margin-left: 320px; */
    width: 200px;
    height: 150px;
    margin-bottom: 50px;
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    padding: 0;
    margin: 0;
}
#skill h3{
    margin: 5px;
    padding-left: 80px;
}
#skill li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
     /* background-color: rgba(17, 12, 17, 0.137);  */
     color: #000; 
    display: block;
    height: 10px;
    border: 1px solid rgb(228, 7, 7);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0, 0, 0.12) 0 1px 2px rgba(0,0, 0, 0.25);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0, 0, 0.25) 0 10px 10px rgba(0,0, 0, 0.29);
}
.bar{
    height: 20px;
    /* float: left; */
    background: linear-gradient(135deg, rgba(236,0,140,1)0%, rgba(256,0,0,1.0) );
}
.html span{
    width: 50%;
    animation: html 3s;
}
.css span{
    width: 40%;
    animation: css 3s;
}
.Javascript span{
    width: 10%;
    animation: Javascript 3s;
}
#project{
    display: flex;
    flex-direction: column;
    background-color: blue;
}

#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: black;
    color: white;
    padding: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline:none;
}
#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}
#send{
    padding: 10px;
    width: 8%;
    margin: 20px;
    border-radius: 10px;
    outline: none;
}
#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rgb(238, 6, 6);
}



